<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    
<h1>ABOUT Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo at debitis omnis explicabo obcaecati corporis iusto aliquam nesciunt, rem atque quo delectus iure nobis harum quasi error vitae, sed asperiores.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto atque beatae hic labore vel sequi! At, neque veritatis!
Quasi error repellat odit, ex facilis nam voluptatum reprehenderit nostrum dolor odio?</p>
</body>
</html>